# Configuración de PostgreSQL
PG_USER=postgres
PG_HOST=localhost
PG_DATABASE=tu_base_de_datos
PG_PASSWORD=tu_password
PG_PORT=5432

# Secreto para JWT (cámbialo por algo seguro)
JWT_SECRET=secreto_super_seguro
